body {
    background-color: lightgray;
}

iframe {
    /*width en min-width nodig voor auto adjust van iframe grootte*/
    width: 1px;
    min-width: 98%;
    /*min-width: 97vw;*/
}

li.item {
    list-style-type: none;
}